.homepage-calendar-container{
    max-width: 100%;
    position: relative;
    top: 80px;
    padding: 20px;
}

.no-showtimes {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: black;
    font-size: 18px; /* Adjust the font size as needed */
    max-width: 350px; /* Adjust the width to match the booking items */
}
